<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8>
		<meta http-equiv=X-UA-Compatible content="IE=edge">
		<meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<title>ML Toolkit</title>
		<link href=https://madeatub.buffalo.edu/mltoolkit/static/css/app.3caae8b5cf1232772423a84efcce05d1.css rel=stylesheet>
	</head>
	<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
		<div id=app>
			
		</div>
		<script type=text/javascript src=https://madeatub.buffalo.edu/mltoolkit/static/js/manifest.38d688cb1c520fc6e29d.js></script>
		<script type=text/javascript src=https://madeatub.buffalo.edu/mltoolkit/static/js/vendor.0840f8ae9692316a2071.js></script>
		<script type=text/javascript src=https://madeatub.buffalo.edu/mltoolkit/static/js/app.6f7c8fb700c61875f7f1.js></script>
	</body>
</html>